
  .form {
    background-color: #fff;
    box-shadow: 0 0 3px silver;
    border:solid 1px #ddd;
    border-radius: 5px;
    max-width:350px;
    padding: 10px;
    position: relative;
    margin-top: 80px;
    
  }

  .user-img{
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .user-img img{
    width: 96px;
    height: 96px;
    border: solid 2.5px #08090e;
    border-radius: 50%;
    background-color: white;

  
  }

  .form div:not(.user-img) {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom:15px;
  }
  
  .choice{
    height: 40px;
    border-radius: 5px;
    border: solid 1.5px #4361ee;
    background-color: #4361ee;
    position: relative;
    margin-top: 70px;
  }
  .choice button{
    flex:1;
    color:#1d3557;
    background:none;
    border: none;
    padding:8px 0px;
    font-size: 16px;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    z-index:100;

  }

  .choice button i{
    margin-right: 5PX;
  }
  .choice button:first-child{
    color: #4361ee;
  }

  .background{
    position: absolute !important;
    margin-top: 0  !important;
    top:0;
    left: 0;
    width: 50%;;
    height: 100%;
    background-color: #fff;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    transition: 0.3s
    ;
  }
  .message{
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    text-align: center;
    z-index: 11;;
    padding: 8px;
    display: none;
  }
  p.error{
    color:#721c24;
    background-color:  #f8d7da;
  }
  p.success{
    color:#ffffff;
    background-color: #28a745;
  }

  form i:not(.fa-eye) {
    margin-right: 6px;
    font-size: 17px;
    color:#4361ee;
  }


  form input, .card input{
    outline-color: #4cc9f0;
    border: solid 1.5px #4361ee;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    overflow: hidden;
  }
  form .name input:first-of-type{
    margin-right:10px;
  }
  .fa-eye {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
  }

  i.active {
    color: #4361ee
  }

  form > button , .card  button{
    color: #fff;
    border: solid 1.5px #4cc9f0;
    background-color: #4361ee;
    border-radius: 5px;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
  }

  form > button::after , .card button::after{
    content: "";
    width: 150px;
    height: 100px;
    border-radius: 70%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #fff;
    transition: 0.3s;
    z-index: -1;
  }

  form > button:hover ,.card button:hover {
    color: #4361ee;
  }

  form > button:hover::after , .card  button:hover::after{
    left: -10px;
    transform: translate(0, -50%);
  }

  .card {
    max-width: 400px;
    background: white;
    box-shadow: 0 0 3px silver;
    border: solid 1px #ddd;
    border-radius: 5px;
  }

  .card-header {
    background-color: #f8f4f4;
    padding: 5px;
    border-radius: 5px 5px 0 0;
  }
  .card-header h4 {
    font-weight: 600;
    letter-spacing: 1px;
  
  }
  .card-body{
    position: relative;
    padding: 10px;
  }
  .card{
    margin: 20px 0;
    position: relative;
    ;
  }
  .client-id .card-body  form  div{
    display: flex;
    gap: 10px;
  }
  .message-client-id, .message-email-settings {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    display: none;
    
  }
  .email-settings .card-body form{
    position: relative;
    bottom: 5px;
 }
  .email-settings .card-body form div{
     margin-bottom: 10px;
  }
  .email-settings .card-body form div label{
    position: relative;
    top:4px
 }