
  .container{
    margin:50px  10px;
    min-height: calc(100vh - 292.46px);
  }
  .form {
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
    border: solid 1px #ddd;
    max-width: 330px;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: 50px;
    overflow: hidden;
  }
  @media (max-width:640px)
  {
    .form{
        margin: 0 auto;
    }
  }
  

  h2 a{
    text-decoration:none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }

  h2 span {
    background-image: linear-gradient(150deg, #e63946, #9113a4, #1d3557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 img {
    width: 60px;
    margin-right: 10px;
  }

  .form div {
    text-align: start;
    position: relative;
    margin: 15px 0px;
  }

  .error {
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 5px;
    padding: 10px 0px;
    position: relative;
    top:5px;
    display: none;
  }

  input, textarea {
    border: solid 1.5px #e63946;
    outline-color: red;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    width: 100%;
    margin-top: 4px;
  }

  textarea{
    resize: none;
    height: 200px;
  }
  .form i.active {
    color: #e63946
  }

  form > button {
    color: #fff;
    border: solid 1.5px red;
    background-color: #e63946;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
  }

  form > button::after {
    content: "";
    width: 150px;
    height: 100px;
    border-radius: 70%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #fff;
    transition: 0.3s;
    z-index: -1;
  }

  form > button:hover {
    color: #e63946;
  }

  form > button:hover::after {
    left: -10px;
    transform: translate(0, -50%);
  }

